{% load crispy_forms_tags %}
{% block content %}

    {% if user.is_authenticated %}
    <script type="text/javascript">
        window.location='../../Inicio/'
    </script>
    {% endif %}

        <center>

            <h1> Cambiar Contraseña </h1>

            {% if mensaje_error %}
                <h4>Datos ingresados de manera erronea, vuelva a intentar.</h4>
            {% endif %}
            
            <form action="{% url 'CambiarPass' %}" method="post">

                {% csrf_token %}

                {{ form|crispy }}

                <a style="color: red;" href="{% url 'CambiarPass' %}">Cambiar Contraseña</a><br>

                <button type="submit" class="btn btn-primary">Cambiar</button>

                <button onclick="window.location='../Register.html'">Registrarse</button>

            </form>

        </center>


    
{% endblock %}