{% load crispy_forms_tags %}

<title>Cambiar Contraseña</title>

{% block content %}

    {% if user.is_authenticated %}
    <script type="text/javascript">
        window.location='../../Inicio/'
    </script>
    {% endif %}

        <center>

            <h1> Cambiar Contraseña </h1>

            {% if mensaje_error %}
                <h4>Datos ingresados de manera erronea, vuelva a intentar.</h4>
            {% endif %}
            
            <form method="post">

                {% csrf_token %}

                {{ form|crispy }}

                <button type="submit" class="btn btn-primary">Cambiar</button>

                </form>

        </center>


    
{% endblock %}